.docmee-h5-app {
  height: calc(100% - 64px);
  width: 100%;
}

.navigation-bar {
  height: 64px;
  width: 100vw;
  box-sizing: border-box;
  gap: 2rem;
  border-top: 1px solid #f4f4f4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 2rem;
}

.navigation-bar button {
  background: none;
  flex: 1;
}

.navigation-bar button[data-activated="true"] {
  outline: 2px solid #f4f4f4;
}
